.home-background-img {
  flex: 1;
  height: 100%;
  background-repeat: repeat;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1616108738832-504f7b6addf2?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dHJlZSUyMGJhcmt8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');  
}

.home-container {
  flex: 1;
}

.home-buttons-container {
  display: flex;
  flex-direction: column;
    /* background-color: rgba(0, 83, 58, 0.6);
    margin: 0 20px 0 20px;
    padding: 0 10px 0 10px; */
    text-align: center;
    /* justify-content: center; */
    line-height: 25px;
    height: 500px;
}

.button-grp {
  display: flex;
}

.top-buttons-labels {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 20px;
  margin: 10px 10px 0 10px;
  font-family: "Drone Ranger Inked";
}

.top-buttons-style {
  background-color: rgb(0, 49, 26);
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 15px;
  border-color: rgb(255, 255, 255);
  width: 70px;
  height: 70px;
  margin: 10px 20px 10px 20px;
  border-radius: 35px;
  font-family: "Drone Ranger Inked";
  outline: none;
}

.top-buttons-style:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

.top-buttons-style:focus {
  border-color: burlywood;
}

.top-buttons-labels, .top-buttons-style {
  animation: buttons-load 1000ms ease-in;
}
/* animation for labels/buttons */
@keyframes buttons-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin: 25px 0 0px 0px;
}


