.footer-container {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 83, 58);
  color: white;
  font-size: 10px;
}

/* .bottom-img {
  background-image: url('https://images.getbento.com/accounts/a01caba8629e97b4951d6615048ba346/media/images/11562trees-bottom.png?w=1800&fit=max&auto=compress,format&h=1800');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;  
  height: 86px;
  margin: -60px 0 0 0;
} */
